/*  general  */
body {
  background: #fff !important;
}
section {
  min-height: 60vh;
  border-bottom: 1px solid #44444460;
  padding: 4.4rem 0 !important;
  overflow: hidden;
}

.btn-primary {
  border-radius: 40px !important;
  padding: 0.4em 3em !important;
  color: white !important;
}

/* Hero */
#hero {
  position: relative;
  min-height: 80vh !important;
}

#video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-ctn {
  width: 100%;
  min-height: 80vh;
  background: rgb(120, 171, 237);
  background: linear-gradient(
    5deg,
    rgba(120, 171, 237, 0.55) 0%,
    rgba(2, 85, 125, 0.8) 100%
  );
  backdrop-filter: blur(8px);
}

.form-control {
  background: #e5e5e5 !important;
  border-radius: 16px !important;
}

.card {
  border-radius: 16px !important;
  overflow: hidden !important;
}

/* Popular */
.card-img {
  height: 220px !important;
  object-fit: cover;
}

/* About */
.img-contaienr {
  display: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 320px;
}

.img-contaienr > img {
  position: absolute;
  width: 90%;
  height: 100%;

  object-fit: cover;
  border-radius: 24px;
  border: 6px solid white;
  z-index: 10 !important;
}

.img-contaienr > div {
  position: absolute;
  top: 4.2rem;
  width: 90%;
  height: 100%;
  border-radius: 18px;
  border: 4px solid #fcb749;
  transform: rotate(5deg);
}

/* Benefits*/
#benefit {
  background: url("../assets/img/BACKGROUND\ BENEFITS.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 0px;
}

.benefit-ctn {
  width: 100%;
  padding: 8% 0px;
  background: rgb(120, 171, 237);
  background: linear-gradient(
    5deg,
    rgba(120, 171, 237, 0.55) 0%,
    rgba(2, 85, 125, 0.8) 100%
  );
}

#icon-card > div > div {
  height: 120px;
  width: 120px;
  background-color: #fff;
  border-radius: 100%;
  padding: 1.4rem;
}

#icon-card > div > div > img {
  object-fit: contain;
  height: 100%;
}

/* Carrers */
